<nav class="navbar navbar-expand-lg fixed-top black">
  <div class="container-fluid">
    <img class="logo" src="assets/logo.png" alt="">
    <a class="navbar-brand" href="#">Service<span class="Setu">Setu</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
        <a class="nav-link active font-weight-bold" aria-current="page" href="/">Home</a>
        <a class="nav-link font-weight-bold" href="/vendor-signup">List Your Buisness</a>
<% if ( displayName  === "Sign Up/Sign In" ){ %>
        <a class="nav-link font-weight-bold" href="/signup"><%= displayName %></a>
<% } else{ %>
        <a class="nav-link font-weight-bold" href="#"><%= displayName %></a>
<% } %>
      </div>
    </div>
  </div>
</nav>
